html {
    background-color: rgb(0, 0, 0);
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
h1 {
    color: #ffffff;
}
p {
    color: #ffffff;
}

img {
    width: 50%;
    border-radius: 15px;
    border: 3px solid rgb(255, 255, 255);
}